.button {
  width: 100%;
  padding: 1rem 2rem;
  /* margin: 1rem; */
  background-color: #0e7030;
  color: white;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}
.button--inverse {
  background: transparent;
  color: #0e7030;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #0e7030;
}
@media (min-width: 768px) {
  .button {
    width: auto;
    margin: 1rem;
  }
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
