.calendar-container {
  padding: 1rem;
  height: 80vh;
}

.rbc-calendar {
  font-size: 1rem;
  color: grey;
}

.rbc-month-view {
  border: none;
}

.rbc-toolbar .rbc-toolbar-label {
  color: #097e09;
  font-weight: bold;
  padding: 1rem;
  font-size: 2rem;
}

.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row,
.rbc-header + .rbc-header,
.rbc-header {
  border: none;
}

.rbc-row .rbc-month-header {
  margin-bottom: 1rem;
}

.rbc-date-cell,
.rbc-header {
  text-align: left;
}

.rbc-button-link {
  font-size: 0.8rem;
}

.rbc-month-header,
.rbc-toolbar {
  margin-bottom: 2rem;
}

.rbc-day-bg,
.rbc-date-cell {
  border-top: 2px solid;
  margin: 0 1rem 1rem 0;
}
.rbc-btn-group button {
  padding: 1rem;
  background: transparent;
  color: #0e7030;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.rbc-btn-group button:hover,
.rbc-btn-group button:active {
  color: white;
  background: #0e7030;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus,
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  color: white;
  background: #0e7030;
}

.rbc-today {
  background-color: #d1e3d1;
}

.rbc-date-cell.rbc-now {
  padding-left: 0.5rem;
}

.rbc-time-view .rbc-row {
  min-height: fit-content;
}

.rbc-day-slot .rbc-time-slot,
.rbc-time-content,
.rbc-timeslot-group {
  border: none;
}

.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row,
.rbc-header + .rbc-header,
.rbc-header {
  border: none;
}

.rbc-btn-group button + button {
  margin-left: 1px;
}

@media (min-width: 768px) {
  .rbc-toolbar .rbc-toolbar-label {
    padding: 0;
  }
  .rbc-button-link {
    font-size: 1.5rem;
  }
}
