@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

main {
  width: 100%;
}

.slide-in-down-enter {
  transform: translateY(-100%);
}

.slide-in-down-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-down-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-in-down-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .align-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.column {
  padding-left: 30px;
  background-clip: padding-box;
}
